@media only screen and (max-width: 600px) {
  .grid {
    width: 280px;
  }
  .one {
    width: 69px;
    height: 69px;
  }

  .one-two {
    width: 69px;
    height: 139px;
  }
  .one-three {
    width: 69px;
    height: 209px;
  }
  .two {
    width: 139px;
    height: 139px;
  }
  .two-one {
    width: 139px;
    height: 69px;
  }
  .two-three {
    width: 139px;
    height: 209px;
  }
  .three {
    width: 209px;
    height: 209px;
  }
  .three-one {
    width: 209px;
    height: 69px;
  }
  .three-two {
    width: 209px;
    height: 139px;
  }
  .four-one {
    width: 279px;
    height: 69px;
  }
}