@import url("https://fonts.googleapis.com/css2?family=Just+Another+Hand&display=swap");
body {
  background: khaki;
}
div {
  box-sizing: border-box;
}
.main-title {
  color: darkslategray;
  font-family: "Just Another Hand", cursive;
  font-size: 48px;
  font-weight: 600;
}
.form-text {
  font-family: "Just Another Hand", cursive;
  font-size: 24px;
}
.subtitle {
  font-family: "Just Another Hand", cursive;
  font-size: 30px;
  color: saddlebrown;
  text-decoration: underline;
}
.list-group-item {
  font-family: "Just Another Hand", cursive;
  background: lightgray;
}
.list-group-item:hover {
  filter: invert(85%);
}

.grid,
.grid-2 {
  height: auto;
  width: 400px;
  position: relative;
  overflow: hidden;
  margin-top: 25px;
  -webkit-box-shadow: 0 0 5px #999;
  box-shadow: 0 0 5px #999;
}
.grid-item {
  display: block;
  position: absolute;
}
.grid-item > div:before {
  content: "";
  border: 2px solid #353535;
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0) scale(1.015) rotate(0.5deg);
  border-radius: 1% 1% 2% 4% / 2% 6% 5% 4%;
}
.grid-item > div:hover {
  filter: invert(85%);
}
.grid-item-descr {
  font-size: 13px;
  font-weight: 600;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.one,
.two,
.three,
.one-two,
.one-three,
.two-one,
.two-three,
.three-one,
.three-two,
.four-one {
  border: 3px solid gray;
  border-radius: 2% 6% 5% 4% / 1% 1% 2% 4%;
  text-transform: uppercase;
  letter-spacing: 0.3ch;
  background: silver;
  position: relative;
  font-family: "Just Another Hand", cursive;
}
.one {
  width: 99px;
  height: 99px;
  position: relative;
}

.one-two {
  width: 99px;
  height: 199px;
}
.one-three {
  width: 99px;
  height: 299px;
}
.two {
  width: 199px;
  height: 199px;
}
.two-one {
  width: 199px;
  height: 97px;
}
.two-three {
  width: 199px;
  height: 299px;
}
.three {
  width: 299px;
  height: 299px;
}
.three-one {
  width: 299px;
  height: 97px;
}
.three-two {
  width: 299px;
  height: 199px;
}
.four-one {
  width: 399px;
  height: 99px;
}
